[submodule "ecto"]
	path = ecto
	url = git://github.com/plasmodic/ecto.git
[submodule "pcl"]
	path = pcl
	url = git://github.com/plasmodic/ecto_pcl.git
[submodule "opencv"]
	path = opencv
	url = git://github.com/plasmodic/ecto_opencv.git
[submodule "ros"]
	path = ros
	url = git://github.com/plasmodic/ecto_ros.git
[submodule "openni"]
	path = openni
	url = git://github.com/plasmodic/ecto_openni.git
[submodule "catkin"]
	path = catkin
	url = git@github.com:willowgarage/catkin.git
